body{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD1DC;
}

.header_text{
    font-family: 'Nunito';
    font-size: 200px;
    font-weight: bold;
    color: #fc7384;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.sub_text{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: bold;
    color: #fc7384;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}